{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Entrees</h1>
    <div class="entrees">
        {% for entree in entrees %}
            <div class="entree">
                <h2>{{ entree.nom }} {{ entree.prenom }}</h2>
                {% for departement in entree.departements %}
                    <p>{{ departement.nom }}</p>
                {% endfor %}
                <form action="{{ url_for('entrees.statut.post') }}" method="post">
                    <input type="hidden" name="id" value="{{ entree.id }}">
                    <input type="hidden" name="csrf" value="{{ csrf }}">
                {% if sessionUser %}
                    {% if entree.statut == 1 %}
                        <button id="private" type="submit">Rendre privée l'entrée</button>
                    {% else %}
                        <button id="public" type="submit">Rendre public l'entrée</button>
                    {% endif %}
                {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
