<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Directory Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_path()}}/{{ css }}/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<header>
    <div class="userGestion">
        {% if sessionUser is null %}
            <a href="{{ url_for('signin') }}">Connexion</a>
        {% else %}
            <a id="logout" href="{{ url_for('logout') }}">Déconnexion</a>
        {% endif %}
        {% if sessionUser['role'] == 100 %}
            <a href="{{ url_for('signup') }}">Ajouter un compte</a>
        {% endif %}
    </div>
    <a href="{{ url_for('home') }}"><h1>Web Directory Administration</h1></a>
</header>
<nav>

    <a href="{{ url_for('entrees.create') }}">Ajouter une entrée</a>
    <a href="{{ url_for('services.create') }}">Créer un service / département</a>
    <a href="{{ url_for('services') }}">Liste des services / départements</a>
    <a href="{{ url_for('entrees') }}">Liste des entrées</a>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <h4>&copy; 2024 Web Directory Timothée Benchergui Maxime Biechy Liam Despaquis Félicien Dirand.</h4>
</footer>
</body>
</html>
